body {
    background: url(https://cutewallpaper.org/21/dark-green-wallpaper-hd/Dark-Green-Wallpaper-HD-WallpaperSafari-in-2019-Dark-.jpg);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}